@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg);
  --primary: #2ba5e6;
  --bg: #242424;
  --alternate: #444;
  --alternate-dark: #222;
  --safe-margin-bottom: 0px;
  --safe-margin-bottom: env(safe-area-inset-bottom);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100%;
  width: 100%;
  touch-action: pan-x pan-y;
}

button {
  border: 5px solid buttonface;
  color: white;
}
.btnrow {
  display: flex;
  gap: 5px;
}

#app {
  text-align: center;
}

/* tags */
.tag.HOLIDAY {
  background: linear-gradient(90deg, #ff0000 0%, #ffff00 100%) !important;
}
.tag.HALLOWEEN {
  background: linear-gradient(90deg, #ff8000 0%, #ffff00 100%) !important;
}

/* crosses components */
.volume svg {
  transform: rotate(90deg);
}
.audioPlayer.fullscreen .queue {
  top: 40px;
  bottom: unset;
}
.audioPlayer:not(.fullscreen) .queue:after {
  content: "";
  background-color: var(--alternate-dark);
  clip-path: polygon(0 0, 50% 100%, 100% 0);

  position: fixed;
  bottom: calc(60px + var(--safe-margin-bottom));
  right: 30px;
  width: 20px;
  height: 10px;
}
@media screen and (max-width: 700px) {
  .audioPlayer:not(.fullscreen) .queue {
    bottom: 110px !important;
  }
  .audioPlayer:not(.fullscreen) .queue:after {
    content: unset;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(50%); }
  to { transform: translateY(0); }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    --bg: #ffffff;
    --alternate: #ccc;
    --alternate-dark: #ddd;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
    border-color: #f9f9f9;
    color: black;
  }
}
