:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --alternate: #444;
  --alternate-dark: #222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100%;
  width: 100%;
  touch-action: pan-x pan-y;
}

button {
  border: 5px solid buttonface;
  color: white;
}
.btnrow {
  display: flex;
  gap: 5px;
}

#app {
  text-align: center;
}

.loadingClock {
  animation: clock 4s infinite;
  animation-direction: reverse;
  transform:rotate(25deg);
}

@keyframes clock {
  50% { transform: rotate(-25deg) }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(50%); }
  to { transform: translateY(0); }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    --alternate: #ccc;
    --alternate-dark: #ddd;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
    border-color: #f9f9f9;
    color: black;
  }
}
